body{
    background-color: gainsboro;
}

.topbar {
    padding-bottom: 10px;
    padding-top: 10px;
    background-color: #0066CC;
    font-family: 'Rubik',sans-serif;
    font-size: 12px;
    line-height: 1.8;
    font-weight: 400;
}

.brand-text{
    font-size: 30px;
    padding: 0;
}


a:active, /* активная/посещенная ссылка */
a:hover,  /* при наведении */
a {
    text-decoration: none;
    color: whitesmoke;
    padding-left: 20px;
    padding-right: 20px;
}

a.card-catalog{
    color: black;
}

.card-size{
    height: 520px;
}
.card-image{
    width: 100%;
    height: 300px;

    min-width: 100%;
    object-fit: cover;
}

.col-topbar{
    padding: 0px 10px 0px 10px;
}

.currentColor{
    color: wheat;
}

.banner{
    width: 100%;
    height: 800px;
    margin: 0;
    overflow: hidden;
    min-width: 100%;
}

.banner-image{
    height: 800px;
    width: 100%;
    object-fit: cover; /*код слайдера размер под разные картики высота*/
    opacity:0.8;
    -moz-opacity:0.8;
    -khtml-opacity: 0.8;
    -webkit-filter: url(#blur);
    filter: url(#blur);
    -webkit-filter: blur(3px);
    filter: blur(3px);
    filter:progid:DXImageTransform.Microsoft.Blur(PixelRadius='3');
    -webkit-transition: 1s -webkit-filter linear;
    transition: 1s filter linear;
}

.banner-text{
    color: #efefef;
}

.copyright{
    background-color: #0066CC;
    padding: 20px 0;
    color: whitesmoke;
}

.footer-cont{
    background-color: gray;
    opacity: 0.8;
    padding: 10px 0;
    color: whitesmoke;
}

.contact-footer{
    padding: 4px 4px;
}

.about-us{
    padding: 80px;
}

.head-prod{
    padding-bottom: 30px;
}

.footer-logo{
    vertical-align: middle;
    horiz-align: center;
}

.static-banner{
    height: 300px;
    width: 100%;
    object-fit: cover;
    position: relative;
    text-align: center;

    opacity:0.8;
    -moz-opacity:0.8;
    -khtml-opacity: 0.8;
    -webkit-filter: url(#blur);
    filter: url(#blur);
    -webkit-filter: blur(1px);
    filter: blur(1px);
    filter:progid:DXImageTransform.Microsoft.Blur(PixelRadius='3');
    -webkit-transition: 1s -webkit-filter linear;
    transition: 1s filter linear;

}

.static-banner-text{
    position: absolute;
    top: 30%;
    left: 50px;

}

.static-content{
    padding: 80px 0 80px 0;
}

#map {
  height: 400px;
  width: 100%;

}

.personal-item-details{
    padding: 0;
}

.static-link{
    color: black;
    margin: 2px;
}

.prev-text{
    padding: 80px 0 40px 0;
}

@media (max-width: 768px) {
    .topbar{
        display: none;
    }
    .brand-text{
        font-size: 18px;
    }
    .section-padding.about-us{
        padding: 20px 2px 20px 2px ;
    }
    .banner{
        height: 400px;
    }
    .banner-image{
        height: 400px;
    }
    .footer-cont{
        font-size: small;
    }
    .footer-logo{
        display: none;
    }
    .static-banner{
        height: auto;
        width: auto;
    }
}

@media (max-width: 400px) {
    .footer-cont{
        display: none;
    }
    .copyright{
        font-size: xx-small;
        padding: 3px;
    }

}

.kenburns-top {
	-webkit-animation: kenburns-top 5s ease-out both;
	        animation: kenburns-top 5s ease-out both;
}


@-webkit-keyframes kenburns-top {
  0% {
    -webkit-transform: scale(1) translateY(0);
            transform: scale(1) translateY(0);
    -webkit-transform-origin: 50% 16%;
            transform-origin: 50% 16%;
  }
  100% {
    -webkit-transform: scale(1.25) translateY(-15px);
            transform: scale(1.25) translateY(-15px);
    -webkit-transform-origin: top;
            transform-origin: top;
  }
}
@keyframes kenburns-top {
  0% {
    -webkit-transform: scale(1) translateY(0);
            transform: scale(1) translateY(0);
    -webkit-transform-origin: 50% 16%;
            transform-origin: 50% 16%;
  }
  100% {
    -webkit-transform: scale(1.25) translateY(-15px);
            transform: scale(1.25) translateY(-15px);
    -webkit-transform-origin: top;
            transform-origin: top;
  }
}

.focus-in-expand {
	-webkit-animation: focus-in-expand 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: focus-in-expand 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes focus-in-expand {
  0% {
    letter-spacing: -0.5em;
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}
@keyframes focus-in-expand {
  0% {
    letter-spacing: -0.5em;
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}
